body,td,p, input, select {
	font-family: Trebuchet MS;
	font-size: 12px;
	color: #999999;
}
body {
	margin:0;
	padding:0;
}
ul{list-style:none; margin:0; padding:0;}
a img{border:none}
a{text-decoration:none}
a:hover{text-decoration:underline}
h1{font-size:18px; color:#006699; margin:0; padding:0}
.cuerpo{margin:0 auto 0 auto; width:950px;}

#cintillo{
	background-color:#02679B;
	background-image:url(imagenes/fondo1.jpg);
	background-repeat:no-repeat;
	background-position:top center;
	height:75px;
	line-height:75px;
	font-size:16px;
	color:#FFFFFF;
}
#cintillo .logo{font-size:34px; color:#FFFFFF; font-weight:bold; float:left;}
#cintillo .palito{margin:21px 15px 0 15px; float:left;}
#cintillo .cintillod{float:right; font-size:12px}
#cintillo .cintillod a{color:#FFFFFF; text-decoration:underline;}
#cintillo .cintillod a:hover{text-decoration:none;}

#menu{height:30px; background-image:url(imagenes/naranja.gif);position:relative; }
#menu ul{position:absolute; top:-10px;}
#menu li{float:left; line-height:30px; font-size:14px; color:#006699; text-align:center;padding:0 10px 0 10px; margin-top:10px}
#menu li:hover{background-image:url(imagenes/naranja2.gif); background-position:10px;}
#menu .palito{padding:0px;}
#menu .palito:hover{background:none}
#menu a{color:#FFFFFF}
#menu .mf_texto{background-image:url(imagenes/f2.png);float:left; height:30px; padding:10px 9px 0 9px;}
#menu .mfocus{margin-top:0;left:0px; padding:0}
#menu .mfocus:hover{background:none}

#menu .submenu{line-height:35px; position:absolute; padding-left:10px; top:30px;}
#menu .submenu li{padding:2px;}
#menu .submenu li:hover{background:none;}
#menu .submenu a{color:#006699}

#menu2{height:35px; background:#D4E6F2;}

#tablappa1{width:716px;}
#tablappa2{width:950px;}
.tabla1{width:100%; border-collapse:collapse;}
.tabla1 td{padding:0; height:40px; font-family:Arial;}
.tabla1 a{text-decoration:underline; color:#999999;} .tabla1 a:hover{text-decoration:none;}

.bordeazuli{background-image:url(imagenes/pv.gif); background-repeat:repeat-y; width:9px;}
.bordeazuld{background-image:url(imagenes/pv.gif); background-repeat:repeat-y; background-position:right; width:9px;}
.bordeazulis{background-image:url(imagenes/tabla_separadori.gif); height:2px!important;}
.bordeazulds{background-image:url(imagenes/tabla_separadord.gif); height:2px!important;}
.trgris{background-color:#F2F2F2}
.tseparador{background-image:url(imagenes/tabla_separador.gif); height:2px!important; padding:0;}
.tcabecera1{background-image:url(imagenes/tabla2.jpg); font-size:18px; color:#FFFFFF;}
.tcabecera1 a{color:#FFFFFF;}
.iconitos{width:20px}
.hora1{color:#006699; min-width:50px}
.hora2{color:#666666; min-width:50px}
.tpie{height:5px!important;}
.tpiec{background-image:url(imagenes/esq2.gif);}
.tpiecs{background-image:url(imagenes/esq2s.gif);}

#dintermedio{font-size:18px; color:#006699}
#dintermedio a{color:#006699; text-decoration:underline} #dintermedio a:hover{text-decoration:none}

.tabla2{ border-collapse:collapse;}
.tabla2 td{padding:0; height:40px; font-family:Arial;}
.t2h{background-image:url(imagenes/tn2.gif);}
.t2h td{height:30px!important; color:#FFFFFF; font-weight:bold}
.t2sn{width:17px; background-image:url(imagenes/palito_n.gif);}
.t2pa{background-image:url(imagenes/pazu.gif)}
.tabla2 a{text-decoration:underline; color:#999999;} .tabla2 a:hover{text-decoration:none;}
.tseparador2{background:#C0D7E7; height:1px!important; padding:0;}
.bordeazulis2{background-image:url(imagenes/tabla_separadori2.gif); height:1px!important;}
.bordeazulds2{background-image:url(imagenes/tabla_separadord2.gif); height:1px!important;}
.tpiec2{background-image:url(imagenes/esq4.gif);}

#sideb{width:221px; float:right; background-image:url(imagenes/sb1.gif);}
#sideb2{background-image:url(imagenes/sb2.jpg); background-repeat:no-repeat; padding:14px; min-height:501px; font-size:14px; color:#666666;}
#sideb2 li{line-height:32px;}
#sideb2 form{margin:0;padding:0;}
#sideb2 .cajat{width:167px; height:23px; position:relative; background-image:url(imagenes/texto1.png); float:left}
#sideb2 .cajat input{border:none; height:21px; width:155px; margin-left:5px; background:none; line-height:21px;}
#sideb2 a{color:#666666;}

#pfiltro{width:716px; height:0px; overflow:hidden;} /*height:0px*/
#pfiltro2{width:676px; height:157px; background-image:url(imagenes/pfiltro.jpg); padding:20px;}
#pfiltro2 form{margin:0;padding:0;}
#pfiltro2 .cajat{width:132px; height:22px; background-image:url(imagenes/texto2.png); float:left}
#pfiltro2 .cajat input{border:none; height:20px; width:100px; margin-left:5px; background:none; line-height:20px;}
#pfiltro2 li{float:left; margin-top:20px; width:70px; font-weight:bold;}
#pfiltro2 .lesp{width:167px;position:relative;}
#pfiltro2 .lesp2{position:relative;}
#pfiltro2 img{vertical-align:middle; cursor:pointer;}
#pfiltro2 .combo{width:132px; background-image:url(imagenes/combo2.png); position:absolute; left:0; top:21px; z-index:20; display:none}
#pfiltro2 .combo li{line-height:16px; padding:0 5px 0 5px; margin:0; cursor:pointer;}
#filtrar2{font-size:18px; color:#006699; text-decoration:underline;} #filtrar2:hover{text-decoration:none}

.combo2{position:absolute; left:0; top:21px; z-index:20; display:none; font-size:12px}
.combo2 table{border-collapse:collapse;margin-top:1px; background:#FFFFFF}
.combo2 .arriba{background-image:url(imagenes/combo2.gif); height:5px}
.combo2 .abajo{background-image:url(imagenes/combo6.gif); height:5px}
.combo2 td{padding:0}
.combo2 .bi{background-image:url(imagenes/combo8.gif);}
.combo2 .bd{background-image:url(imagenes/combo4.gif);}
.combo2 .opcion{line-height:16px; white-space:nowrap; cursor:pointer;color: #999999;}
.combo2 .opcion:hover{text-decoration:none}

#asociar{background-image:url(imagenes/tabla2.jpg); font-size:14px; color:#FFFFFF; line-height:41px; text-align:center}
#asociar a{color:#FFFFFF;}
#asociar2{border-left: 1px solid #C0D7E7; border-right: 1px solid #C0D7E7;}
#asociar2 .alertar{background:#F3D5D5; height:45px; border-bottom: 1px solid #E6A9AE; line-height:45px; color:#CF0211; text-align:center;}
#asociar2 .alertar2{background:#FBEB89; height:45px; border-bottom: 1px solid #DFD58D; border-top: 1px solid #DFD58D; line-height:45px; color:#006699; text-align:center;}
#asociar2 h1{margin:0 0 30px 10px}

#asociar2 .ul_tit_2{width:500px}
#asociar2 li{float:left}
#asociar2 .li_tit_2{width:177px; padding-left:100px; font-size:12px; height:34px;}
#asociar2 .cajat{width:170px; height:21px; background-image:url(imagenes/texto3.gif); float:left}

#asociar_c{margin-left:118px; font-size:14px; color:#666666;}
#asociar_c h1{margin:0 0 30px 10px}
#asociar_c .ul_tit_2{width:500px}
#asociar_c li{float:left}
#asociar_c .li_tit_1{width:177px}
#asociar_c .li_tit_2{width:177px; padding-left:100px; font-size:12px; height:34px;}
#asociar_c .li_tit_3{width:347px; font-size:12px; height:34px; text-align:right;}
#asociar_c .cajat{width:170px; height:21px; background-image:url(imagenes/texto3.gif); float:left}
#asociar_c .cajat input{border:none; height:20px; width:160px; margin-left:5px; background:none; line-height:20px;}
#asociar_c .cajat2{width:170px; height:21px; background-image:url(imagenes/texto3.gif); float:left}
#asociar_c .cajat2 input{border:none; height:20px; width:136px; margin:0 5px 0 5px; background:none; line-height:20px;}
#combo_tipo table{width:170px}
.cajat_img img{vertical-align:middle; }
.p_relative{position:relative;}
.p_relative .opcion{ display:table; width:100%;}

#boletos{margin-left:56px; color:#666666;}
.link_naranja{color:#EE542E; text-decoration:underline; }
.link_naranja:hover{text-decoration:none;}
#boletos .p_relative{margin-top:10px}
#boletos li{float:left;}
#boletos .liseparador{width:19px; height:5px;}

#boletos .c_tipo_vuelo{width:107px; height:21px; background-image:url(imagenes/texto4.gif); float:left}
#boletos .c_tipo_vuelo input{border:none; height:20px; width:73px; margin:0 5px 0 5px; background:none; line-height:20px;}
#boletos #combo_tipo_vuelo table{width:107px;}

#boletos .c_tipo_2{width:81px; height:21px; background-image:url(imagenes/texto5.gif); float:left}
#boletos .c_tipo_2 input{border:none; height:20px; width:47px; margin:0 5px 0 5px; background:none; line-height:20px;}
#boletos #combo_tipo_2 table{width:81px;}

#boletos .t_origen{width:91px; height:21px; position:relative; background-image:url(imagenes/texto6.gif); margin-top:10px;}
#boletos .t_origen input{border:none; height:20px; width:81px; margin-left:5px; background:none; line-height:20px;}

#boletos .c_npersonas{width:53px; height:21px; background-image:url(imagenes/texto7.gif); float:left}
#boletos .c_npersonas input{border:none; height:20px; width:19px; margin:0 5px 0 5px; background:none; line-height:20px;}
#boletos #combo_npersonas table{width:53px;}

#boletos .t_descripcion{width:297px; height:21px; position:relative; background-image:url(imagenes/texto8.gif); margin-top:10px;}
#boletos .t_descripcion input{border:none; height:20px; width:287px; margin-left:5px; background:none; line-height:20px;}

#boletos .c_cantidad{width:53px; height:21px; background-image:url(imagenes/texto7.gif); float:left}
#boletos .c_cantidad input{border:none; height:20px; width:19px; margin:0 5px 0 5px; background:none; line-height:20px;}
#boletos #combo_cantidad table{width:53px;}

#boletos .c_cantidad_g{width:53px; height:21px; background-image:url(imagenes/texto7.gif); float:left}
#boletos .c_cantidad_g input{border:none; height:20px; width:19px; margin:0 5px 0 5px; background:none; line-height:20px;}
#boletos #combo_cantidad_g table{width:53px;}

#boletos .total1{margin-top:29px; width:143px; text-align:right;}
#boletos .agregar{margin:10px 0 0 560px}

#boletos2{ margin-left:25px; margin-right:25px;}
#boletos2 .separadorv_gris{margin:10px 0 10px 0}
#boletos2 ul{float:right}
#boletos2 li{float:left; min-width:100px; margin-right:20px; text-align:right}
.resumen{width:99%}
.resumen thead td{font-weight:bold}
.resumen td{border-bottom: 1px dotted #E3E3E3; color:#666666}
.numerico{text-align:right}
.resumen .sinborde{border:none}

#boletos2 .c_descuento2{width:53px; height:21px; background-image:url(imagenes/texto7.gif); float:left}
#boletos2 .c_descuento2 input{border:none; height:20px; width:19px; margin:0 5px 0 5px; background:none; line-height:20px;}
#boletos2 #combo_descuento2 table{width:53px;}
#boletos2 #combo_descuento2 table td{border:none}

#boletos2 .c_descuento3{width:53px; height:21px; background-image:url(imagenes/texto7.gif); float:left}
#boletos2 .c_descuento3 input{border:none; height:20px; width:19px; margin:0 5px 0 5px; background:none; line-height:20px;}
#boletos2 #combo_descuento3 table{width:53px;}
#boletos2 #combo_descuento3 table td{border:none}

#boletos2 .ntd{text-align:left}

#generico1 table {width:300px;}
#generico1 table td{color:#006699;border-top: 1px dotted #E3E3E3;font-size:14px}
#generico1 .ntd{text-align:right;}
#generico1 .totales td{color:#EE542E; font-size:18px; height:60px;}
#generico1 .boton_p td{border:none}

#hoteles1{margin-left:200px}
#hoteles1 .tdazul{text-align:center; color:#006699; font-size:14px;}
#hoteles1 td{padding:5px;color:#666666;}

#hoteles1 .cajat2{width:170px; height:21px; background-image:url(imagenes/texto3.gif); float:left}
#hoteles1 .cajat2 input{border:none; height:20px; width:136px; margin:0 5px 0 5px; background:none; line-height:20px;}
#hoteles1 #combo_plan table{width:170px;}
#hoteles1 #combo_plan table td{padding:0px;}


#hoteles{margin-left:30px;}
#hoteles table{width:675px;}
#hoteles td{padding:5px;color:#666666;}
.pthead td{font-weight:bold; color:#666666; font-size:14px}
#hoteles .td_n{border-bottom: 1px dotted #E3E3E3; text-align:right}

#hoteles .c_tipo2{width:170px; height:21px; background-image:url(imagenes/texto3.gif); float:left}
#hoteles .c_tipo2 input{border:none; height:20px; width:136px; margin:0 5px 0 5px; background:none; line-height:20px;}
#hoteles #combo_tipo2 table{width:170px;}
#hoteles .p_relative table td{padding:0px;}

#hoteles .c_cantidad_adultos{width:53px; height:21px; background-image:url(imagenes/texto7.gif); float:left}
#hoteles .c_cantidad_adultos input{border:none; height:20px; width:19px; margin:0 5px 0 5px; background:none; line-height:20px;}
#hoteles #combo_cantidad_adultos table{width:53px;}

#hoteles .c_cantidad1{width:53px; height:21px; background-image:url(imagenes/texto7.gif); float:left}
#hoteles .c_cantidad1 input{border:none; height:20px; width:19px; margin:0 5px 0 5px; background:none; line-height:20px;}
#hoteles #combo_cantidad1 table{width:53px;}

#hoteles .c_cantidad2{width:53px; height:21px; background-image:url(imagenes/texto7.gif); float:left}
#hoteles .c_cantidad2 input{border:none; height:20px; width:19px; margin:0 5px 0 5px; background:none; line-height:20px;}
#hoteles #combo_cantidad2 table{width:53px;}

#hoteles .c_cantidad3{width:53px; height:21px; background-image:url(imagenes/texto7.gif); float:left}
#hoteles .c_cantidad3 input{border:none; height:20px; width:19px; margin:0 5px 0 5px; background:none; line-height:20px;}
#hoteles #combo_cantidad3 table{width:53px;}

#hoteles .c_cantidad4{width:53px; height:21px; background-image:url(imagenes/texto7.gif); float:left}
#hoteles .c_cantidad4 input{border:none; height:20px; width:19px; margin:0 5px 0 5px; background:none; line-height:20px;}
#hoteles #combo_cantidad4 table{width:53px;}

#hoteles .c_cantidad5{width:53px; height:21px; background-image:url(imagenes/texto7.gif); float:left}
#hoteles .c_cantidad5 input{border:none; height:20px; width:19px; margin:0 5px 0 5px; background:none; line-height:20px;}
#hoteles #combo_cantidad5 table{width:53px;}

#hoteles .t_descripcion{width:297px; height:21px; position:relative; background-image:url(imagenes/texto8.gif);}
#hoteles .t_descripcion input{border:none; height:20px; width:287px; margin-left:5px; background:none; line-height:20px;}

#hoteles .c_desc_monto{width:81px; height:21px; position:relative; background-image:url(imagenes/texto5.gif);}
#hoteles .c_desc_monto input{border:none; height:20px; width:71px; margin-left:5px; background:none; line-height:20px;}

#hoteles .h_tabla2{width:550px; margin-left:60px}
#hoteles .h_tabla2 td{border-bottom: 1px dotted #E3E3E3; padding:2px;}
#hoteles .h_tabla2 .sinborde{border:none}

#hoteles .c_descuento{width:53px; height:21px; background-image:url(imagenes/texto7.gif); float:left}
#hoteles .c_descuento input{border:none; height:20px; width:19px; margin:0 5px 0 5px; background:none; line-height:20px;}
#hoteles #combo_descuento table{width:53px;}
#hoteles #combo_descuento table td{border:none}
.tdseparadorgris{height:1px; background:#E3E3E3; padding:0px!important}

#t_filtro{overflow:hidden;}
#transacciones{width:310px; margin-left:200px; margin-top:20px}
#transacciones ul{width:310px;}
#transacciones li{min-width:110px; color:#666666; height:35px; float:left}
#transacciones a{text-decoration:none; font-size:12px}
#transacciones table{width:170px;}
#transacciones table td{ height:auto}
#transacciones .cajat2{width:170px; height:21px; background-image:url(imagenes/texto3.gif); float:left}
#transacciones .cajat2 input{border:none; height:20px; width:136px; margin:0 5px 0 5px; background:none; line-height:20px;}
#transacciones .cajat1{width:170px; height:21px; background-image:url(imagenes/texto3.gif); float:left}
#transacciones .cajat1 input{border:none; height:20px; width:160px; margin:0 5px 0 5px; background:none; line-height:20px;}

#paginacion{display:table;margin:0 auto;}
#paginacion a{color:#006699;}
#paginacion .apu{text-decoration:underline;}
#paginacion .apu:hover{text-decoration:none;}
#paginacion li{padding:4px; float:left}
#paginacion .pag_n{width:20px;height:20px;line-height:20px;border:1px solid #AFCFE6;background:#DFEFFC;display:table-cell;text-align:center;}
#paginacion .pag_a{width:20px;height:20px;line-height:20px;border:1px solid #FCD56E;background:#FBED8C;text-align:center; color:#333333}

#matriz{background-image:url(imagenes/tabla2.jpg); font-size:18px; color:#FFFFFF; line-height:41px;}
#matriz2{border-left: 1px solid #C0D7E7; border-right: 1px solid #C0D7E7; color:#666666;}
#matriz2 .tit1{margin-left:20px; float:left; font-size:14px;}
#matriz2 .cajat{width:170px; height:21px; background-image:url(imagenes/texto3.gif); float:left; margin-left:20px;}
#matriz2 .cajat input{border:none; height:20px; width:160px; margin-left:5px; background:none; line-height:20px;}
#matriz2 .separadorv_gris{margin:20px 0 20px 0}
#f_buscar{padding-top:20px; padding-bottom:13px}
#matriz2 .tit2{margin-left:20px; min-width:100px; float:left; font-weight:bold; height:33px;}

#matriz2 .c_plan{width:150px; height:21px; background-image:url(imagenes/texto9.gif); float:left}
#matriz2 .c_plan input{border:none; height:20px; width:116px; margin:0 5px 0 5px; background:none; line-height:20px;}
#matriz2 #combo_plan table{width:150px;}

#matriz2 .c_moneda{width:53px; height:21px; background-image:url(imagenes/texto7.gif); float:left}
#matriz2 .c_moneda input{border:none; height:20px; width:19px; margin:0 5px 0 5px; background:none; line-height:20px;}
#matriz2 #combo_moneda table{width:53px;}

.tmatriz{width:100%}
.tmatriz thead td{border-top: 1px dotted #E3E3E3; font-weight:bold; color:#666666}
.tmatriz td{border-bottom: 1px dotted #E3E3E3; height:47px;}
.tmatriz .primera{padding-left:20px;}

#matriz2 .cantidades{width:55px; height:22px; background-image:url(imagenes/texto10.jpg);}
#matriz2 .cantidades input{border:none; height:21px; width:45px; margin-left:5px; background:none; line-height:21px;}

#matriz2 .naranja{font-size:12px}

#reservaciones{border-left: 1px solid #C0D7E7; border-right: 1px solid #C0D7E7; color:#666666; padding:20px 12px 10px 20px}
#reservaciones .pannel{width:340px; float:left;}
#reservaciones .titulos{color:#006699; font-size:15px}
#reservaciones li{float:left; min-width:27px; height:25px;}

#reservaciones .cajat2{width:150px; height:21px; background-image:url(imagenes/texto9.gif); float:left}
#reservaciones .cajat2 input{border:none; height:20px; width:116px; margin:0 5px 0 5px; background:none; line-height:20px;}
#reservaciones .combo_opciones table{width:150px}
#reservaciones .naranja{font-size:12px; margin:3px 0 0 10px; display:table}

#reservaciones .ul_re li{min-width:120px;}
#reservaciones .li_re{font-weight:bold}
#reservaciones2{border-left: 1px solid #C0D7E7; border-right: 1px solid #C0D7E7; color:#666666; height:1px;}
#reservaciones2 .separadorv_gris{margin:0;}
#reservaciones .historia, #reservaciones .historia a{font-size:14px;color:#999999}
#reservaciones .historia a{text-decoration:underline}
#reservaciones .historia a:hover{text-decoration:none}

/*para combos -34px*/

.floati{float:left;}
.floatd{float:right;}
.valign{vertical-align:middle;}
.separador{clear:both;height:0px!important}
.separadorv{clear:both; height:12px;}
.separadorv_gris{clear:both; height:1px; background:#E3E3E3; margin:30px 0 30px 0;}
.separadorh{clear:both;width:1px; height:12px; float:left}
.separadorh1{width:10px!important; float:left;height:10px}

.rojo{color:#EF182A; font-size:14px;}
.naranja{color:#EE542E; font-size:16px;}
.centrado{text-align:center}